<form method="POST">
  <label for="input-username">Username</label>
  <input id="input-username" type="text" name="username" placeholder="Username" required>

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="Password" required>

  <button>Log In</button>
</form>