<form method="POST">
  <label for="input-username">Username</label>
  <input id="input-username" type="text" name="username" placeholder="Choose your username" required>

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="Choose a strong password" required>

  <button>Sign Up</button>
</form>